<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="container">
    <form class="login-form">
      <h2>Welcome Back!</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
      <p class="registration-link">Don't have an account? <a href="#">Register</a></p>
      <div class="social-links">
        <p>Or log in with:</p>
        <a href="#" class="social-icon"><img src="facebook-icon.png" alt="Facebook"></a>
        <a href="#" class="social-icon"><img src="twitter-icon.png" alt="Twitter"></a>
        <a href="#" class="social-icon"><img src="google-icon.png" alt="Google"></a>
      </div>
    </form>
  </div>
</body>
</html>
